Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint app/views/

Updated the comments style a bit (it's now anchored in the center)
  app/views/web/shared/_archived_comment.html.slim
Due: bundle exec slim-lint app/views/

add test from on_moderate
  test/controllers/web/account/vacancies_controller_test.rb
  test/fixtures/vacancies.yml
Due: bundle exec rubocop --force-exclusion

add tests
  app/policies/vacancy_policy.rb
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  test/controllers/web/account/vacancies_controller_test.rb
  test/controllers/web/admin/vacancies_controller_test.rb
  test/fixtures/vacancies.yml
Due: bundle exec rubocop --force-exclusion

[745] send moderate vacancy
  app/controllers/web/account/vacancies_controller.rb
  app/models/vacancy.rb
  app/views/web/account/vacancies/_form.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

update deps
  Gemfile.lock
Due: none

Remove duplicate career_progress assignment
  app/controllers/web/users_controller.rb
Due: bundle exec rubocop --force-exclusion

[#741] added sorting of vacancies by creation date
  Gemfile.lock
  app/controllers/web/account/vacancies_controller.rb
  app/views/web/account/vacancies/index.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

fixed sorting of resumes by views
  app/controllers/web/resumes_controller.rb
Due: bundle exec rubocop --force-exclusion

correct sorting logic
  app/controllers/web/account/vacancies_controller.rb
Due: bundle exec rubocop --force-exclusion

fix bug with search by _
  app/forms/web/vacancies/search_form.rb
Due: bundle exec rubocop --force-exclusion

remove n8n
  .env.example
  app/jobs/event_sender_job.rb
  app/lib/application_container.rb
  app/lib/n8n_client.rb
  app/lib/n8n_client_stub.rb
  lib/tasks/career_track.rake
Due: bundle exec rubocop --force-exclusion

format code
  .gitignore
  bin/main/io/hexlet/cv/App.class
  bin/test/io/hexlet/AppTest.class
  build.gradle.kts
  src/main/java/io/hexlet/cv/App.java
  src/test/java/io/hexlet/AppTest.java
Due: none

update gitignore
  .gitignore
Due: none

fix tests
  Makefile
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/java/io/hexlet/cv/App.java
  src/test/java/io/hexlet/AppTest.java
Due: none

Update README.md
  README.md
Due: none

Изменение README.md
  README.md
Due: none

first commit + wo tests
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/java/io/hexlet/cv/config/InertiaConfig.java
  src/main/java/io/hexlet/cv/config/SecurityConfig.java
  src/main/java/io/hexlet/cv/exception/UserAlreadyExistsException.java
  src/main/java/io/hexlet/cv/exception/ValidationExceptionHandler.java
  src/main/java/io/hexlet/cv/validator/NotInTop10K.java
  src/main/java/io/hexlet/cv/validator/NotInTop10KValidator.java
  src/main/java/io/hexlet/cv/validator/PasswordNotSimilarToUser.java
  src/main/java/io/hexlet/cv/validator/PasswordNotSimilarToUserValidator.java
  src/main/resources/blacklists/10k-most-common.txt
  src/main/resources/templates/app.html
  src/test/java/io/hexlet/AppTest.java
Due: none

first commit + wo tests
  config/checkstyle/checkstyle.xml
  src/main/java/io/hexlet/cv/component/DataInitializer.java
  src/main/java/io/hexlet/cv/config/EncodersConfig.java
  src/main/java/io/hexlet/cv/controller/RegistrationController.java
  src/main/java/io/hexlet/cv/dto/registration/RegInputDTO.java
  src/main/java/io/hexlet/cv/dto/registration/RegOutputDTO.java
  src/main/java/io/hexlet/cv/mapper/JsonNullableMapper.java
  src/main/java/io/hexlet/cv/mapper/RegistrationMapper.java
  src/main/java/io/hexlet/cv/model/User.java
  src/main/java/io/hexlet/cv/repository/UserRepository.java
  src/main/java/io/hexlet/cv/service/UserService.java
  src/main/resources/application-dev.yml
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
Due: none

remove link to hexlet blog and add to hexlet root
  app/views/layouts/shared/_footer.html.slim
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
Due: bundle exec slim-lint app/views/

remove link to hexlet blog and add to hexlet root
  ruby-version/app/views/layouts/shared/_footer.html.slim
  ruby-version/config/locales/en.layouts.yml
  ruby-version/config/locales/ru.layouts.yml
Due: bundle exec slim-lint app/views/

update translations
  ruby-version/config/locales/en.layouts.yml
  ruby-version/config/locales/ru.layouts.yml
Due: none

Инициализация фронтенда
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/Home.tsx
  frontend/src/components/Login.tsx
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: none

+validation +roles -tests
  build.gradle.kts
  src/main/java/io/hexlet/cv/config/InertiaConfig.java
  src/main/java/io/hexlet/cv/controller/RegistrationController.java
  src/main/java/io/hexlet/cv/converter/RoleTypeConverter.java
  src/main/java/io/hexlet/cv/dto/registration/RegInputDTO.java
  src/main/java/io/hexlet/cv/dto/registration/RegOutputDTO.java
  src/main/java/io/hexlet/cv/exception/ValidationExceptionHandler.java
  src/main/java/io/hexlet/cv/mapper/RegistrationMapper.java
  src/main/java/io/hexlet/cv/model/User.java
  src/main/java/io/hexlet/cv/model/enums/RoleType.java
  src/main/java/io/hexlet/cv/service/UserService.java
  src/main/java/io/hexlet/cv/validator/EmailDomainViaDnsApi.java
  src/main/java/io/hexlet/cv/validator/EmailDomainViaDnsApiValidator.java
  src/main/java/io/hexlet/cv/validator/EmailNotWithSingleCharTld.java
  src/main/java/io/hexlet/cv/validator/EmailNotWithSingleCharTldValidator.java
  src/main/java/io/hexlet/cv/validator/NotInDisposableEmailDomains.java
  src/main/java/io/hexlet/cv/validator/NotInDisposableEmailDomainsValidator.java
  src/main/java/io/hexlet/cv/validator/NotInTop10KValidator.java
  src/main/java/io/hexlet/cv/validator/PasswordNotSimilarToUser.java
  src/main/java/io/hexlet/cv/validator/PasswordNotSimilarToUserValidator.java
  src/main/resources/blacklists/disposable_email_blocklist.conf
  src/main/resources/templates/app.html
Due: none

add tests
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/java/io/hexlet/cv/App.java
  src/main/java/io/hexlet/cv/config/EncodersConfig.java
  src/main/java/io/hexlet/cv/config/InertiaConfig.java
  src/main/java/io/hexlet/cv/config/SecurityConfig.java
  src/main/java/io/hexlet/cv/controller/MainPageController.java
  src/main/java/io/hexlet/cv/controller/RegistrationController.java
  src/main/java/io/hexlet/cv/converter/RoleTypeConverter.java
  src/main/java/io/hexlet/cv/dto/registration/RegOutputDTO.java
  src/main/java/io/hexlet/cv/exception/GlobalExceptionHandler.java
  src/main/java/io/hexlet/cv/mapper/JsonNullableMapper.java
  src/main/java/io/hexlet/cv/mapper/RegistrationMapper.java
  src/main/java/io/hexlet/cv/model/enums/RoleType.java
  src/main/java/io/hexlet/cv/service/UserService.java
  src/main/java/io/hexlet/cv/validator/EmailDomainViaDnsApi.java
  src/main/java/io/hexlet/cv/validator/EmailDomainViaDnsApiValidator.java
  src/main/java/io/hexlet/cv/validator/EmailNotWithSingleCharTld.java
  src/main/java/io/hexlet/cv/validator/EmailNotWithSingleCharTldValidator.java
  src/main/java/io/hexlet/cv/validator/NotInDisposableEmailDomains.java
  src/main/java/io/hexlet/cv/validator/NotInDisposableEmailDomainsValidator.java
  src/main/java/io/hexlet/cv/validator/NotInTop10K.java
  src/main/java/io/hexlet/cv/validator/NotInTop10KValidator.java
  src/main/java/io/hexlet/cv/validator/PasswordNotSimilarToUser.java
  src/main/java/io/hexlet/cv/validator/PasswordNotSimilarToUserValidator.java
  src/main/resources/templates/app.html
  src/test/java/io/hexlet/cv/controller/RegistrationControllerTest.java
Due: none

#ADD first commit
  README.md
Due: none

sink with main
  gradle/libs.versions.toml
  src/main/java/io/hexlet/cv/controller/UserController.java
  src/main/java/io/hexlet/cv/dto/user/UserPasswordDto.java
  src/main/java/io/hexlet/cv/handler/GlobalExceptionHandler.java
  src/main/java/io/hexlet/cv/handler/exception/MatchingPasswordsException.java
  src/main/java/io/hexlet/cv/service/UserService.java
  src/main/java/io/hexlet/cv/utils/PasswordValidator.java
Due: none

add sign_in + restructured endpoints
  src/main/java/io/hexlet/cv/App.java
  src/main/java/io/hexlet/cv/config/CookieProperties.java
  src/main/java/io/hexlet/cv/config/EncodersConfig.java
  src/main/java/io/hexlet/cv/config/JwtProperties.java
  src/main/java/io/hexlet/cv/config/RsaKeyProperties.java
  src/main/java/io/hexlet/cv/config/SecurityConfig.java
  src/main/java/io/hexlet/cv/controller/LoginController.java
  src/main/java/io/hexlet/cv/controller/MainPageController.java
  src/main/java/io/hexlet/cv/controller/TestPageController.java
  src/main/java/io/hexlet/cv/dto/user/LoginRequestDTO.java
  src/main/java/io/hexlet/cv/dto/user/LoginResponseDTO.java
  src/main/java/io/hexlet/cv/dto/user/RegistrationRequestDTO.java
  src/main/java/io/hexlet/cv/dto/user/RegistrationResponseDTO.java
  src/main/java/io/hexlet/cv/exception/GlobalExceptionHandler.java
  src/main/java/io/hexlet/cv/exception/ValidationExceptionHandler.java
  src/main/java/io/hexlet/cv/handler/GlobalExceptionHandler.java
  src/main/java/io/hexlet/cv/handler/exception/InvalidPasswordException.java
  src/main/java/io/hexlet/cv/handler/exception/UserAlreadyExistsException.java
  src/main/java/io/hexlet/cv/handler/exception/UserNotFoundException.java
  src/main/java/io/hexlet/cv/mapper/LoginMapper.java
  src/main/java/io/hexlet/cv/model/User.java
  src/main/java/io/hexlet/cv/security/TokenCookieService.java
  src/main/java/io/hexlet/cv/security/TokenService.java
  src/main/java/io/hexlet/cv/service/CustomUserDetailsService.java
  src/main/java/io/hexlet/cv/service/LoginService.java
  src/main/java/io/hexlet/cv/service/RegistrationService.java
  src/main/java/io/hexlet/cv/util/JWTUtils.java
  src/main/java/io/hexlet/cv/util/UserUtils.java
  src/main/java/io/hexlet/cv/validator/EmailDomainViaDnsApiValidator.java
  src/main/java/io/hexlet/cv/validator/PasswordNotSimilarToUserValidator.java
  src/main/resources/application-dev.yml
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
  src/main/resources/certs/private.pem
  src/main/resources/certs/public.pem
  src/test/java/io/hexlet/cv/controller/LoginControllerTest.java
  src/test/java/io/hexlet/cv/controller/RegistrationControllerTest.java
Due: none

Add package-lock.json
  package-lock.json
Due: none

add make ci-setup
  Makefile
  package.json
  src/main/java/io/hexlet/cv/controller/LoginController.java
  src/test/java/io/hexlet/cv/controller/LoginControllerTest.java
Due: none

fix make ci-setup
  Makefile
Due: none

add check to Makefile
  Makefile
Due: none

password change realise
  gradle/libs.versions.toml
  src/main/java/io/hexlet/cv/controller/RegistrationController.java
  src/main/java/io/hexlet/cv/controller/UserController.java
  src/main/java/io/hexlet/cv/dto/user/UserPasswordDto.java
  src/main/java/io/hexlet/cv/exception/GlobalExceptionHandler.java
  src/main/java/io/hexlet/cv/handler/GlobalExceptionHandler.java
  src/main/java/io/hexlet/cv/handler/ValidationExceptionHandler.java
  src/main/java/io/hexlet/cv/handler/exception/MatchingPasswordsException.java
  src/main/java/io/hexlet/cv/handler/exception/UserAlreadyExistsException.java
  src/main/java/io/hexlet/cv/handler/exception/WrongPasswordException.java
  src/main/java/io/hexlet/cv/service/UserService.java
  src/test/java/io/hexlet/cv/controller/TestUser.java
Due: none

adding new feature for send emails
  .env.example
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/java/io/hexlet/cv/App.java
  src/main/java/io/hexlet/cv/service/EmailService.java
  src/main/resources/application-dev.yml
  src/main/resources/application.yml
  src/main/resources/templates/email/new-device-email.ftl
  src/main/resources/templates/email/password-changed-email.ftl
  src/main/resources/templates/email/password-reset-email.ftl
  src/main/resources/templates/email/verification-email.ftl
  src/main/resources/templates/email/welcome-email.ftl
Due: none

add catch exception
  src/main/java/io/hexlet/cv/controller/UserController.java
  src/test/java/io/hexlet/cv/controller/TestUser.java
Due: none

fix
  src/main/java/io/hexlet/cv/controller/UserController.java
Due: none

add Inertia Tests redirect 303
  edits_from_mentor_08_09_2025.txt
  src/main/java/io/hexlet/cv/controller/DashboardController.java
  src/main/java/io/hexlet/cv/controller/LoginController.java
  src/main/java/io/hexlet/cv/controller/MainPageController.java
  src/main/java/io/hexlet/cv/controller/RegistrationController.java
  src/main/java/io/hexlet/cv/handler/GlobalExceptionHandler.java
  src/main/java/io/hexlet/cv/security/AuthResponseService.java
  src/main/java/io/hexlet/cv/service/FlashPropsService.java
  src/test/java/io/hexlet/cv/controller/LoginControllerTest.java
  src/test/java/io/hexlet/cv/controller/RegistrationControllerTest.java
Due: none

add Inertia Cookies Tests
  src/test/java/io/hexlet/cv/controller/LoginControllerTest.java
  src/test/java/io/hexlet/cv/controller/RegistrationControllerTest.java
Due: none

fix spotlessApply erroor
  src/test/java/io/hexlet/cv/controller/RegistrationControllerTest.java
Due: none

update GlobalExceptionHandler, UserNotFoundException, UserController, UserService
  src/main/java/io/hexlet/cv/controller/UserController.java
  src/main/java/io/hexlet/cv/handler/GlobalExceptionHandler.java
  src/main/java/io/hexlet/cv/handler/exception/UserNotFoundException.java
  src/main/java/io/hexlet/cv/service/UserService.java
Due: none

Path conditions:
  bundle exec rubocop --force-exclusion: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint app/views/: any of: **/*.html.slim
