Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

fix after reviw
  app/controllers/web/admin/vacancies_controller.rb
  app/lib/notifications_helper.rb
  app/models/notification.rb
  app/models/vacancy.rb
  app/mutators/admin/vacancy_mutator.rb
  app/services/admin/vacancy_service.rb
  app/views/web/admin/vacancies/_cancelation_form.html.slim
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  app/views/web/admin/vacancies/new_cancelation.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/en.notification.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.notifications.yml
  config/routes.rb
  test/controllers/web/admin/vacancies_controller_test.rb
  test/fixtures/notifications.yml
  test/fixtures/vacancies.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

move form in layout
  app/controllers/web/admin/vacancies_controller.rb
  app/views/web/admin/vacancies/_cancelation_form.html.slim
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  app/views/web/admin/vacancies/new_cancelation.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/routes.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

add cancel process from vacancies
  app/forms/web/admin/vacancy_form.rb
  app/models/vacancy.rb
  config/locales/en.activerecord.yml
  config/locales/en.enumerize.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.enumerize.yml
  db/migrate/20240707200834_add_column_cancelation_reason_to_vacancy.rb
  db/schema.rb
  test/controllers/web/admin/vacancies_controller_test.rb
  test/factories/vacancies.rb
  test/fixtures/vacancies.yml
  test/models/vacancy_test.rb
Due: bundle exec rubocop --force-exclusion

add test to rout new_cancelation_reason
  app/lib/notifications_helper.rb
  app/models/notification.rb
  config/locales/en.notification.yml
  config/locales/ru.enumerize.yml
  config/locales/ru.notifications.yml
  test/controllers/web/admin/vacancies_controller_test.rb
  test/fixtures/notifications.yml
Due: bundle exec rubocop --force-exclusion

fix after revew
  .ruby-version
  app/controllers/web/admin/vacancies_controller.rb
  app/models/notification.rb
  app/models/vacancy.rb
  app/mutators/admin/vacancy_mutator.rb
  app/views/web/account/vacancies/index.html.slim
  config/locales/en.activerecord.yml
  config/locales/en.enumerize.yml
  config/locales/en.views.yml
  config/locales/ru.enumerize.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

remove resque from mutator
  app/mutators/admin/vacancy_mutator.rb
Due: bundle exec rubocop --force-exclusion

fix ruby version && logic mutator
  .ruby-version
  app/controllers/web/admin/vacancies_controller.rb
  app/mutators/admin/vacancy_mutator.rb
  config/locales/admin/en.flash.yml
  config/locales/admin/ru.flash.yml
Due: bundle exec rubocop --force-exclusion

add check create notification
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix finished career members csv
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop --force-exclusion

fix last step date condition
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop --force-exclusion

[TL-4958] fix finished career members csv (#764)
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop --force-exclusion

fix and add new test case
  app/controllers/web/admin/vacancies_controller.rb
  app/models/vacancy.rb
  app/mutators/admin/vacancy_mutator.rb
  config/locales/en.enumerize.yml
  config/locales/ru.enumerize.yml
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix
  app/mutators/admin/vacancy_mutator.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop --force-exclusion

add cancel process from vacancies (#760)
  .ruby-version
  app/controllers/web/admin/vacancies_controller.rb
  app/forms/web/admin/vacancy_form.rb
  app/lib/notifications_helper.rb
  app/models/notification.rb
  app/models/vacancy.rb
  app/mutators/admin/vacancy_mutator.rb
  app/views/web/account/vacancies/index.html.slim
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  app/views/web/admin/vacancies/new_cancelation.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/en.enumerize.yml
  config/locales/en.notification.yml
  config/locales/en.views.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.enumerize.yml
  config/locales/ru.notifications.yml
  config/locales/ru.views.yml
  config/routes.rb
  db/migrate/20240707200834_add_column_cancelation_reason_to_vacancy.rb
  db/schema.rb
  test/controllers/web/admin/vacancies_controller_test.rb
  test/factories/vacancies.rb
  test/fixtures/notifications.yml
  test/fixtures/vacancies.yml
  test/models/vacancy_test.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

[765] fix show comments in sidebar
  app/repositories/resume/answer_repository.rb
  test/fixtures/resume/answers.yml
  test/fixtures/resumes.yml
Due: bundle exec rubocop --force-exclusion

[745] send moderate vacancy
  app/controllers/web/account/vacancies_controller.rb
  app/models/vacancy.rb
  app/views/web/account/vacancies/_form.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

add tests
  app/policies/vacancy_policy.rb
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  test/controllers/web/account/vacancies_controller_test.rb
  test/controllers/web/admin/vacancies_controller_test.rb
  test/fixtures/vacancies.yml
Due: bundle exec rubocop --force-exclusion

Fixed i18n for #751 issue
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

make help links on footer corresponding to the current locale
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint app/views/

WIP: added state machine for Answers, added admin answers page and etc...
  app/controllers/web/admin/comments/application_controller.rb
  app/controllers/web/admin/comments/resumes_answers_comments_controller.rb
  app/controllers/web/admin/comments/resumes_answers_controller.rb
  app/controllers/web/admin/comments/resumes_comments_controller.rb
  app/models/resume/answer.rb
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/comments/resumes_answers/_search_form.html.slim
  app/views/web/admin/comments/resumes_answers/edit.html.slim
  app/views/web/admin/comments/resumes_answers/index.html.slim
  app/views/web/admin/comments/resumes_comments/index.html.slim
  config/routes.rb
  db/migrate/20240930104633_add_state_to_answer.rb
  db/schema.rb
  test/factories/resume_answers.rb
  test/fixtures/resume/answers.yml
  test/models/resume/answer_test.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

WIP: updated i18n
  app/controllers/web/admin/comments/resumes_answers_controller.rb
  app/views/web/admin/comments/resumes_answers/edit.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.layouts.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

WIP: Updated search form, added search for content and date of create
  app/models/resume/answer.rb
  app/views/web/admin/comments/resumes_answers/_search_form.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

WIP: Updated view
  app/controllers/web/admin/comments/resumes_answers_controller.rb
  app/views/web/admin/comments/resumes_answers/index.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

WIP: Updated view
  app/models/resume/answer/comment.rb
  app/views/web/admin/comments/resumes_answers/index.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

WIP: Updated view
  app/views/web/admin/comments/resumes_answers/index.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec slim-lint app/views/

WIP: lint
  app/controllers/web/admin/comments/resumes_answers_comments_controller.rb
  app/controllers/web/admin/comments/resumes_answers_controller.rb
  app/views/web/admin/comments/resumes_answers/_answer_card.html.slim
  app/views/web/admin/comments/resumes_answers/_answer_comment.html.slim
  app/views/web/admin/comments/resumes_answers/_menu.html.slim
  app/views/web/admin/comments/resumes_answers/archived.html.slim
  app/views/web/admin/comments/resumes_answers_comments/edit.html.slim
  app/views/web/shared/_answer.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/en.views.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.views.yml
  config/routes.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

Added localize method for aasm state
  app/helpers/model_helper.rb
Due: bundle exec rubocop --force-exclusion

WIP: updated views
  app/models/resume/answer.rb
  app/views/web/admin/comments/resumes_answers/_answer_card.html.slim
  app/views/web/admin/comments/resumes_answers/_search_form.html.slim
  app/views/web/shared/_answer.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/en.views.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

Added admin tools for answers_comments
  app/controllers/web/admin/comments/resumes_comments_controller.rb
  app/models/resume/comment.rb
  app/views/web/admin/comments/resumes_answers/_menu.html.slim
  app/views/web/admin/comments/resumes_comments/_comment_card.html.slim
  app/views/web/admin/comments/resumes_comments/_menu.html.slim
  app/views/web/admin/comments/resumes_comments/_search_form.html.slim
  app/views/web/admin/comments/resumes_comments/archived.html.slim
  app/views/web/admin/comments/resumes_comments/edit.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/routes.rb
  db/migrate/20241014084448_add_state_columnt_to_resume_comment.rb
  db/schema.rb
  test/factories/resume_comments.rb
  test/fixtures/resume/comments.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

Updated archived answer view
  app/views/web/shared/_answer.html.slim
  app/views/web/shared/_archived_answer.html.slim
  app/views/web/shared/_archived_comment.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

Updated archived answer view
  app/views/web/resumes/show.html.slim
  app/views/web/shared/_answer.html.slim
  app/views/web/shared/_answer_comment.html.slim
  app/views/web/shared/_archived_answer.html.slim
  app/views/web/shared/_archived_comment.html.slim
  app/views/web/shared/_resume_answer_comment.html.slim
  app/views/web/shared/_resume_comment.html.slim
Due: bundle exec slim-lint app/views/

Updated localization to meet the requirements of the CEO
  app/controllers/web/vacancy_filters_controller.rb
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

remove professions block from employment page
  app/views/web/employments/_professions.html.slim
  app/views/web/employments/show.html.slim
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

change hexlet profession link
  app/controllers/concerns/custom_url_helpers_concern.rb
  app/views/web/employments/_options.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

Fixed error, added aasm state for Answer::Comment
  app/models/resume/answer/comment.rb
  db/migrate/20241118100206_add_state_columnt_to_resume_answer_comment.rb
  db/schema.rb
  test/factories/resume_answer_comments.rb
  test/fixtures/resume/answer/comments.yml
  test/models/resume/answer/comment_test.rb
Due: bundle exec rubocop --force-exclusion

Fixed view for admin->resume->answer->comment
  app/controllers/web/admin/comments/resumes_answers_comments_controller.rb
  app/views/web/admin/comments/resumes_answers/_answer_comment.html.slim
  config/locales/admin/ru.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

Add controller and route for resume preview
  app/controllers/web/account/resumes_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion

Add views and translations for resume preview
  app/views/web/account/resumes/index.html.slim
  app/views/web/account/resumes/preview.html.slim
  config/locales/ru.views.yml
  test/controllers/web/account/resumes_controller_test.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

Updated makefile for building on computers with m-series processors
  Gemfile.lock
  Makefile
Due: none

Added missed l18n
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.attributes.yml
Due: none
