Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

Add company descriptions in works.yml fixtures (#719)
  test/fixtures/resume/works.yml
Due: none

Fix resume state transitions
  app/controllers/web/account/resumes_controller.rb
Due: bundle exec rubocop --force-exclusion

Remove resume mutator
  app/mutators/resume_mutator.rb
Due: bundle exec rubocop --force-exclusion

Add negative test
  test/controllers/web/account/resumes_controller_test.rb
Due: bundle exec rubocop --force-exclusion

Fix resume state transitions (#721)
  app/controllers/web/account/resumes_controller.rb
  app/mutators/resume_mutator.rb
  test/controllers/web/account/resumes_controller_test.rb
Due: bundle exec rubocop --force-exclusion

improve test resume controller
  test/controllers/web/account/resumes_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix career member policy
  app/controllers/web/careers/members_controller.rb
  app/policies/career/member_policy.rb
  app/policies/career/step/member_policy.rb
  app/views/web/careers/members/show.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

add link to caree track
  app/views/web/admin/career_member_users/_users.html.slim
Due: bundle exec slim-lint app/views/

Filter show resume by locale
  app/controllers/web/resumes_controller.rb
Due: bundle exec rubocop --force-exclusion

improve contacts styles
  app/views/web/resumes/_information.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

improve styles
  app/views/web/resumes/_information.html.slim
Due: bundle exec slim-lint app/views/

install annotate gem
  Gemfile
  Gemfile.lock
  Makefile
  lib/tasks/auto_annotate_models.rake
Due: bundle exec rubocop --force-exclusion

fix setup project in docker
  Dockerfile
Due: none

imptove styles
  app/views/layouts/application.html.slim
  app/views/web/resumes/_answer_requires.html.slim
  app/views/web/resumes/_information.html.slim
Due: bundle exec slim-lint app/views/

update deps
  Gemfile.lock
Due: none

add bullet
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/test.rb
Due: bundle exec rubocop --force-exclusion

fix gemfile.loc
  Gemfile.lock
Due: none

fix vacancy controller
  app/controllers/web/admin/vacancies_controller.rb
Due: bundle exec rubocop --force-exclusion

add bullet
  Dockerfile
  Gemfile
  Gemfile.lock
  app/controllers/web/admin/vacancies_controller.rb
  config/environments/development.rb
  config/environments/test.rb
Due: bundle exec rubocop --force-exclusion

fix docker
  Dockerfile
Due: none

fix locfile
  Gemfile.lock
Due: none

fix users show unoptimize query
  Gemfile.lock
  app/controllers/web/users_controller.rb
Due: bundle exec rubocop --force-exclusion

fix using counter cache
  app/models/resume/answer.rb
  app/views/web/home/index.html.slim
  test/controllers/web/resumes/answers_controller_test.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

fix deprecated warning
  config/application.rb
Due: bundle exec rubocop --force-exclusion

add user removing (wip)
  app/controllers/web/account/profiles_controller.rb
  app/controllers/web/users_controller.rb
  app/models/user.rb
  app/views/web/account/profiles/edit.html.slim
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
  config/locales/ru.views.yml
  config/routes.rb
  db/schema.rb
  test/controllers/web/account/profiles_controller_test.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

add user service
  app/services/user_service.rb
Due: bundle exec rubocop --force-exclusion

fix btns on user action page
  app/views/devise/confirmations/new.html.slim
  app/views/devise/passwords/new.html.slim
  app/views/devise/unlocks/new.html.slim
Due: bundle exec slim-lint app/views/

improve styles
  app/views/devise/confirmations/new.html.slim
  app/views/devise/passwords/new.html.slim
  app/views/devise/unlocks/new.html.slim
Due: bundle exec slim-lint app/views/

change translations
  app/views/devise/confirmations/new.html.slim
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec slim-lint app/views/

fix translations
  app/views/devise/confirmations/new.html.slim
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec slim-lint app/views/

fix unoptimize query
  app/controllers/web/admin/career_member_users_controller.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/vacancy_filters_controller.rb
Due: bundle exec rubocop --force-exclusion

add sort from vacansies
  app/controllers/web/account/vacancies_controller.rb
  app/views/web/account/vacancies/index.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

improve resume skills description readability
  app/models/resume.rb
  app/views/web/resumes/_information.html.slim
  app/views/web/shared/_resume_form.html.slim
  config/locales/ru.activerecord.yml
  config/locales/ru.views.yml
  config/locales/simple_form.ru.yml
  db/migrate/20240508043924_update_resume_skill_description.rb
  db/schema.rb
  test/factories/resumes.rb
  test/fixtures/resumes.yml
  test/models/resume_test.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

fix: turn on skills_description validation & add en translations
  app/models/resume.rb
  config/locales/en.views.yml
  config/locales/simple_form.en.yml
Due: bundle exec rubocop --force-exclusion

fix: resumes fixtures skills description
  Gemfile
  Gemfile.lock
  test/factories/resumes.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop --force-exclusion
