Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

fix number views watching author
  Gemfile.lock
  app/controllers/web/resumes_controller.rb
  docker-compose.yml
  test/controllers/web/resumes_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix
  docker-compose.yml
Due: none

fix: add resume presenter, skills_description validation
  app/models/resume.rb
  app/presenters/resume_presenter.rb
  app/views/web/resumes/_information.html.slim
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  db/migrate/20240508043924_update_resume_skill_description.rb
  test/controllers/web/account/resumes_controller_test.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

fix vacancies policy
  app/policies/vacancy_policy.rb
Due: bundle exec rubocop --force-exclusion

rollback vacancies policy
  app/policies/vacancy_policy.rb
Due: bundle exec rubocop --force-exclusion

add actions for archive and send to moderate vacancies
  app/controllers/web/account/vacancies_controller.rb
  app/models/vacancy.rb
  app/views/web/account/vacancies/_actions.html.slim
  app/views/web/account/vacancies/_form.html.slim
  app/views/web/account/vacancies/edit.html.slim
  app/views/web/account/vacancies/new.html.slim
  config/locales/en.views.yml
  config/locales/ru.helpers.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/controllers/web/account/vacancies_controller_test.rb
  test/fixtures/vacancies.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

FIX: fixed missed translation for apply button from
  app/views/web/shared/_answer.html.slim
Due: bundle exec slim-lint app/views/

add cancel process from vacancies
  app/forms/web/admin/vacancy_form.rb
  app/models/vacancy.rb
  config/locales/en.activerecord.yml
  config/locales/en.enumerize.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.enumerize.yml
  db/migrate/20240707200834_add_column_cancelation_reason_to_vacancy.rb
  db/schema.rb
  test/controllers/web/admin/vacancies_controller_test.rb
  test/factories/vacancies.rb
  test/fixtures/vacancies.yml
  test/models/vacancy_test.rb
Due: bundle exec rubocop --force-exclusion

add frontend process
  app/controllers/web/admin/vacancies_controller.rb
  app/views/web/account/vacancies/index.html.slim
  app/views/web/admin/vacancies/_cancelation_form.html.slim
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  config/locales/en.activerecord.yml
  config/locales/en.views.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.views.yml
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

move form in layout
  app/controllers/web/admin/vacancies_controller.rb
  app/views/web/admin/vacancies/_cancelation_form.html.slim
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  app/views/web/admin/vacancies/new_cancelation.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/routes.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

add notification
  app/lib/notifications_helper.rb
  app/models/notification.rb
  config/locales/ru.notifications.yml
  test/fixtures/notifications.yml
Due: bundle exec rubocop --force-exclusion

add test to rout new_cancelation_reason
  app/lib/notifications_helper.rb
  app/models/notification.rb
  config/locales/en.notification.yml
  config/locales/ru.enumerize.yml
  config/locales/ru.notifications.yml
  test/controllers/web/admin/vacancies_controller_test.rb
  test/fixtures/notifications.yml
Due: bundle exec rubocop --force-exclusion

notification process
  app/controllers/web/admin/vacancies_controller.rb
  app/services/admin/vacancy_service.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix logic from guest
  Gemfile.lock
  app/controllers/web/resumes_controller.rb
  test/controllers/web/resumes_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix after reviw
  app/controllers/web/admin/vacancies_controller.rb
  app/lib/notifications_helper.rb
  app/models/notification.rb
  app/models/vacancy.rb
  app/mutators/admin/vacancy_mutator.rb
  app/services/admin/vacancy_service.rb
  app/views/web/admin/vacancies/_cancelation_form.html.slim
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  app/views/web/admin/vacancies/new_cancelation.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/en.notification.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.notifications.yml
  config/routes.rb
  test/controllers/web/admin/vacancies_controller_test.rb
  test/fixtures/notifications.yml
  test/fixtures/vacancies.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

fix sqlite3 version for rails 7.1
  Gemfile
  Gemfile.lock
  app/models/user.rb
  db/schema.rb
  test/factories/users.rb
  test/fixtures/resume/answer/comments.yml
  test/fixtures/resume/answer/likes.yml
  test/fixtures/resume/answers.yml
  test/fixtures/resume/comments.yml
  test/fixtures/resume/educations.yml
  test/fixtures/resume/works.yml
  test/fixtures/users.yml
  test/models/user_test.rb
Due: bundle exec rubocop --force-exclusion

bump version html2slim
  Gemfile
  Gemfile.lock
Due: none

bump ruby version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Due: none

fix deprecated
  config/initializers/wicked_pdf.rb
Due: bundle exec rubocop --force-exclusion

fix ruby version in ci
  .github/workflows/main.yml
Due: none

update actions version
  .github/workflows/main.yml
Due: none

remove obsolete version from docker compose
  docker-compose.yml
Due: none

try decrease heroku build size
  Gemfile
  Gemfile.lock
Due: none

try decrease heroku build size
  Gemfile
Due: none

fix lint
  Gemfile
Due: none

try fix deploy
  Gemfile
  lib/tasks/render_com.rake
Due: bundle exec rubocop --force-exclusion

fix wkhtmltopdf
  config/initializers/wicked_pdf.rb
Due: bundle exec rubocop --force-exclusion

fix wicked pdf for testing
  config/initializers/wicked_pdf.rb
Due: bundle exec rubocop --force-exclusion

fix wicked-pdf
  config/initializers/wicked_pdf.rb
Due: bundle exec rubocop --force-exclusion

fix confirm password button
  app/views/devise/passwords/edit.html.slim
Due: bundle exec slim-lint app/views/

improve logic show current item career member if user finish all step
  app/models/career/member.rb
Due: bundle exec rubocop --force-exclusion

fix finish step button for career member
  app/models/career/step/member.rb
  app/views/web/careers/members/show.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint app/views/

fix typo
  app/views/web/careers/members/show.html.slim
Due: bundle exec slim-lint app/views/

fix search on deleting users
  app/controllers/api_internal/users_controller.rb
Due: bundle exec rubocop --force-exclusion

remove sorting from default web scope
  app/repositories/user_repository.rb
Due: bundle exec rubocop --force-exclusion

add missing translations
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
Due: none
